body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #96cfe6, #caa7f6);
  display: flex;
  align-items: center;
  justify-content: center;
}


.completed {
  text-decoration: line-through;
  background-color: lightgreen;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
